@import url("/home/sh4dow/.cache/wal/colors-waybar.css");

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @color9;
  margin: 10px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px 0;
  background-color: @surface0;
  margin-left: 1rem;
  padding: 2px;
}

#workspaces button {
  all: unset;
  padding: 0 8px;
  color: alpha(@color9, 0.6);
  transition: all 0.3s ease;
  border-radius: 0.7rem;
  margin: 0 2px;
}

#workspaces button.active {
  color: @color9;
  background-color: alpha(@background, 0.5);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#workspaces button:hover {
  background-color: alpha(@color9, 0.2);
  color: @color9;
  text-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty {
  color: alpha(@color9, 0.3);
  text-shadow: none;
}

#workspaces button.urgent {
  color: @red;
  background-color: alpha(@red, 0.2);
}

/* Module styling with consistent design */


#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: #f53c3c;
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0.6; }
}
#battery {
  color: @color2;
  background-color: @background;
  border-radius: 0.5rem;
  padding: 5px 12px;
  margin-right: 1rem;
}
#clock{
 color: @color2;
  background-color: @background;
  border-radius: 0.5rem;
  padding: 4px 10px;
  margin-right: 0.5rem;

}
#network{
 color: @color5;
  background-color: @background;
  border-radius: 0.5rem;
  padding: 4px 10px;
  margin-right: 2rem;

}
#custom-swaync{
 color: @color3;
  background-color: @background;
  border-radius: 0.5rem;
  padding: 4px 10px;
  margin-right: 0.5rem;

}
#window{
 color: @color2;
  background-color: @background;
  border-radius: 0.5rem;
  padding: 4px 10px;
  margin-right: 0.5rem;

}
