@import url("/home/sh4dow/.cache/wal/colors-waybar.css");

* {
  font-family: "DM Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
  font-size: 10px;
  border-radius: 30px;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
  color: @foreground;
}

.modules-right {
  margin-right: 12px;
}

#workspaces {
  background-color: @background;
  padding: 0px 15px 0px 15px;
  border-radius: 50px;
  margin-left: 12px;
}

#workspaces button.active {
  background-color: @background;
  color: @color3;
  padding: 0px 15px 0px 15px;
}

#workspaces button.active:hover {
  color: @foreground;
  background: inherit;
}

#workspaces button.empty {
  color: @color10;
}

#workspaces button {
  background-color: transparent;
  color: @foreground;
  transition: margin 150ms ease-in-out, padding 150ms ease-in-out;
  transition: background-color 0.3s ease, color 0.3s ease, padding 0.2s ease;
}

#workspaces button:hover {
  background: @foreground;
}




#window.hidden {
    opacity: 0;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border: none;
}

window#waybar.empty #window {
    background-color: transparent;
}
#clock{ color: @color2;
  background-color: @background;
  padding: 0 15px 0 15px;
  margin: 0 0 0 12px;
}
#network{
  color: @color10;
  background-color: @background;
  padding: 0 15px 0 15px;
  margin: 0 0 0 12px;
}
#pulseaudio{
  color: @color4;
  background-color: @background;
  padding: 0 15px 0 15px;
  margin: 0 0 0 12px;
}
#battery{ color: @color2;
  background-color: @background;
  padding: 0 15px 0 15px;
  margin: 0 0 0 12px;
}

#custom-notification{
  color: @color3;
  background-color: @background;
  padding: 0 15px 0 15px;
  margin: 0 0 0 12px;
}
